@import url('https://fonts.googleapis.com/css?family=Roboto:100,500|Open+Sans');

$main-title-font-family: 'Roboto', sans-serif;
$title-font-family: 'Roboto', sans-serif;
$text-font-family: 'Open Sans', sans-serif;

$main-title-color: rgba(0, 0, 0, .87);
$title-color: rgba(0, 0, 0, .87);
$text-color: rgba(0, 0, 0, .60);

$line-color: rgba(0, 0, 0, .3)